mat-cell {
    border: 1px solid grey;
    max-width: 50px;
    padding: 0px 10px;
}
mat-cell:nth-of-type(3n + 1 ) {
    border-left: 2px solid black;
}

mat-cell:nth-of-type(9n) {
    border-right: 2px solid black;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
     height: 0px !important;
}

input {
    text-align: center;
    margin: 10px;
    max-width: 10px;
    font-size: 4rem;
}

.mat-row {
    border: 0px solid;
    width: fit-content;
    margin: auto;
}

.mat-row:nth-of-type(3n) mat-cell {
    border-bottom: 2px solid black;
}

.mat-row:first-child mat-cell {
    border-top: 2px solid black;
}

.grid-container {
    margin: 25px;
}

mat-cell:first-of-type, mat-cell:last-child {
    padding: 0px 10px !important;
}

